*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-size:62.5%; /* porcentagem utilizada pelo navegador*/
}
header{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;        
    padding-top: 1px;         
}


#logo{  
    width: 300px;    
   max-width: 90%;
   max-height: 90%;
   min-width: 0;
   min-height: 0;   
   padding-left: 15%;     
}

.logo{
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));    
    grid-gap: 1px;
    max-width: 900px;
    margin: 0 auto;    
}

.logo div{
    background-color:rgba(11, 11, 11, 0);    
    padding:2px;
    text-align: center;
    
}

.logo h2{
    color: bisque;
    font-size: 1.8rem;
    padding-top: 10%;    
    justify-content: center;    

}


.logo h1{    
    
    float: right;
    font-family: Arial;
    text-align: center;
    padding-top: 10px;    
    color: rgb(83, 83, 255);    
    padding-top: 5%;
    padding-right: 10%;         
    font-size: 1.3rem;   
    
}

#logo2{       
   text-align: center;       
   padding-right: 15%;
}



h3{
    font-size: 20px;
    font-family: Arial;
    margin: 0;
    padding: 5px;
}
h4{
    font-size: 10px;
    font-family: Arial;
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
}
body{
    background-color: rgb(0, 11, 13);
}
.container{
    display:block;
    background-color: #fff;
    width: 95%;    
    box-shadow:  2px 2px rgb(255, 250, 250);
    margin: 0 auto;
   /* max-width: 95%;*/
   max-width: 90%;
   max-height: 90%;
   min-width: 0;
   min-height: 0;    
   margin-top: 3%;     
   border-radius: 1%;                                                                                                                                                                                                                                                                                                                                                      
}
#container-pessoal{
    display:block;
    background-color: rgba(255, 255, 255, 0);
    width: 95%;    
    box-shadow: 0px 1px rgb(255, 255, 255);
    margin: 0 auto;
   /* max-width: 95%;*/
   max-width: 90%;
   max-height: 90%;
   min-width: 0;
   min-height: 0;    
   margin-top: 3%;                                                                                                                                                                                                                                                                                                                                                           
}

#sobreMim h1{    
    padding-top: 10%;
    font-family: Arial;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem; 
}
#sobreMim h3{    
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 3rem; 
}

.container-sobreMim{    
    background-color: rgb(50, 183, 255);
    width: 95%;       
    height: 150px; 
    margin: 0 auto;  
   max-width: 90%;
   max-height: 90%;
   min-width: 0;
   min-height: 0;    
   margin-top: 3%;     
   border-radius: 1%;                                                                                                                                                                                                                                                                                                                                                      
}


#container-home{
    display:block;
    background-color: rgba(18, 17, 17.0.9);
    width: 95%;    
    height: 500px;
    box-shadow: 2px 2px rgb(10, 0, 40);    

}
.img-galeria h2{
    display: flex;
    float: right;
    text-align: center;
    align-items: center;

}
#container-galeria{
    display:block;
    background-color: rgba(18, 17, 17.0.9);
    width: 95%;    
    height: 500px;
    box-shadow: 2px 2px rgb(10, 0, 40);
    
}
footer{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    


}
p{
    font-family: Arial;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}
h3{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;
}
h2{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9rem;
}

h5{
    font-family: Arial;
    text-align: center;
    padding: 1px;
    font-size: 1.9rem;
    color: #fff;
}

.texto-footer{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
}



#grid-container{
    margin-top: 5px;
    background-color: rgba(0, 0, 209, 0);
    padding: 5px;
  
}

.grid{
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /*grid-template-columns: repeat(auto-fill, minmax(450px,2fr));*/
    grid-gap: 1px;
    max-width: 900px;
    margin: 0 auto;    
}

.grid div{
    background-color:rgb(177, 177, 177);
    font-family: arial;    
    font-size: 1.6rem;
    padding:2px;
    text-align: center;
    align-items: center;
}

.grid h2{
    font-size: 2rem;
    padding-top: 15%;
    padding-bottom: 10%;
}

#grid2-container{
    margin-top: 5px;
    background-color: rgba(0, 0, 209, 0);
    padding: 5px;
  
}

.grid2{
    display: grid;    
    
    grid-template-columns: repeat(auto-fill, minmax(300px,2fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;    
}

.grid2 div{
    background-color:rgb(177, 177, 177);
    font-family: arial;    
    font-size: 1.6rem;
    padding:2px;
    text-align: center;
    align-items: center;
}

.grid2 h2{
    font-size: 2rem;
    padding-top: 15%;
    padding-bottom: 10%;

}

#table-pessoal{
    background-color:#fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding:2px;
    justify-content: center;
}
nav{
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-family: arial;
    font-size: 1.8rem;
    margin-right: 2%;
    word-spacing: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 1px rgb(32, 36, 162);
    
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all 400ms ease-in-out;
}

a:hover{
    color: rgb(0, 39, 193);
}

#container-pessoal p{
   
    color: rgba(255, 255, 255, 0.6);    
    font-family: arial;
    text-align: center;
    font-size: 1.8rem;
    padding:2px;
    justify-content: center;  
}

